.upper_block{
  width: 100vw;
  background: #F2F3F5;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.block_header_soc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.time_delivery{
  height: 40px;
  display: flex;
  align-items: center;
  color: #1B1C21;
}
.delivery_city{
  display: none;
}
.nav_menu {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;

}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #505567;
  margin: 0 30px 0 30px;
}
.my_orders{
  height: 40px;
  display: flex;
  align-items: center;
  h2{
    font-weight: 400;
    color:#505567 ;
    font-size: 14px;
  }
}
.visible_inf{
  width: 211px;
  height: 150px;
  border: 1px solid #F2F3F5;
  box-shadow: 0 10px 30px rgba(34, 42, 70, 0.1);
  border-radius: 10px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .reviews{
    display: none;
  }
  .link{
    margin: 0 15px 0 15px;
  }
}
.link_none{
  display: none;
}
.store_information{
  display: none;
}
@media (max-width: 768px) {

  .nav_menu{
    display: none;
    transition: all .3s;

  }
  .link_none{
    display: flex;
  }
  .reviews{
    display: block;
  }
  .nav_menu.active{
    display: flex;
    z-index: 10;
    position: absolute;
    transition: all .3s;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    top: 0;
    left: 0;
    height: auto;
    width: 100vw;
    background: #fff;
    padding: 10px 50px;
    overflow-x: hidden;
    box-sizing: border-box;
    a{
      font-size: 16px;
      margin-top: 30px;
      margin-left: 0;
    }
  }

  .links{
    margin-top: auto;
    display: flex;
    top: 24vh;
    margin-bottom: 30px;
    position: absolute;
    flex-direction: column;
    a{
      margin-top: 30px;
    }
  }
  .link.active{

  }

  .header,
  .header.active{
    align-items: flex-end;
    justify-content: flex-end;
  }

  .time_delivery{
    display: none;
  }
  .time_delivery.active{
    margin-top: 10px;
    width: 52vw;
    display: flex;
    z-index: 10;
    margin-left: 50px;

  }

  .upper_block{
    justify-content: space-between;
  }
  .upper_block.active {
    display: block;
  }
  .menuBtn {
    z-index: 3;
    margin-right: auto;
    width: 40px;
    height: 40px;
    position: relative;

  }
  .menuBtn.active{
    transition:all .4s ;
    margin-right: 0;
    margin-left: auto;
    margin-top: 5px;
    z-index: 11;

  }
  .block_header_soc{
    img{
      margin: 8px;
    }
  }

  .menuBtn span,
  .menuBtn::before,
  .menuBtn::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #1B1C21;
    z-index: 11;
  }

  .menuBtn::before,
  .menuBtn::after {
    content: '';
    display: block;
    transition: 0.2s;
  }
  .menuBtn::before {
    transform: translateY(-5px);
  }
  .menuBtn::after {
    transform: translateY(5px);
  }

  .menuBtn.active:before {
    transform: rotate(-45deg);
  }
  .menuBtn.active:after {
    transform: rotate(45deg);
  }
  .menuBtn.active span{
    transform: scale(0);
  }
  .link{
    color: #1B1C21;
  }
  .delivery_city{
    font-size: 12px;
    display: block;
    color: #505567;
    margin-right: auto;
    margin-left: 30px;
  }
  .block_header_soc{
    margin-left: auto;
    margin-right: auto;
  }
  .store_information{
    display: block;
    z-index: 10;
    div{
      width: 73vw;
      display: flex;
      margin: 20px 0 20px 0;
    }
  }
}
@media (max-width: 375px) {
  .delivery_city{
    display: none;
  }
}

/*===================2=========================*/
.middle_block{
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.middle_block.active{
  justify-content: center;
}
.logo{
  margin-right: 20px;
}
.search{
  transition: all 0.6s;
  width: 30vw;
  min-width: 150px;
  height: 45px;
  border: 1px solid #D0D2D7;
  border-radius: 60px;
  padding: 0 0 0 30px;
  background: url('../../image/svgIcons/Search.svg') no-repeat center right 10px;
  margin-right: 30px;
}
.phone_icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../../image/svgIcons/Call.svg") no-repeat center ;
  border: 1px solid #7D818E;
}
.phone{
  display: flex;
  align-items: center;
  position: relative;
  left: 10px;
}
.number{
  flex-direction: column;
}
.search_icon{
  display: none;
}
.home_icon{
  display: none;
}
.cart{
  display: flex;
  align-items: center;
}
.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 14px;
  background: #E2195B;
  border-radius: 50%;
  position: relative;
  left: -18px;
  top: -18px;
}
.footer_menu{
  display: flex;
  width: 15vw;
  justify-content: space-evenly;
}
@media (max-width: 1024px) {
  .number{
    display: none;
  }
  .delivery_flower{
    display: none;
  }
}
@media (max-width: 768px) {
  .link_visible{
    display: none;
  }
  .heart{
    position: relative;
    top: auto;
  }
  .phone{
    display: none;
  }
  .footer_menu{
    position:fixed ;
    bottom: 0;
    align-items: center;
    width: 100vw;
    height: 100px;
    box-shadow: 0px -3px 10px rgba(63, 66, 69, 0.1);
  }
  .total{
    display: none;
  }
  .search_icon{
    display: block;
  }
  .home_icon{
    display: block;
  }
  .logo.none{
    display: none;
  }
  .search.active{
    transition: all 0.5s;
    width: 70vw;
    margin-right: 0;

  }
}
@media (max-width: 425px) {
  .logo{
    transform: scale(0.6);
    margin-right: 0;
  }
  .footer_menu{
      p{
        font-size: 12px;
       }
  }

  .search.active{
    width: 85vw;
    transition: all 0.6s;
  }
}
@media(max-width:1440px){
  .delivery_flower{
    font-size: 12px;
  }
}
.line{
  margin: 40px 0 30px 0;
  position: relative;
  left: -50px;
  width: 100vw;
  height: 1px;
  background: #E2E4EB;
}
.social_networks{
  display: none;
  img{
    margin: 10px 10px 0 0;
  }
}
@media (max-width: 768px) {
  .social_networks{
    display: block;
  }
}
.number{
  p{
    width: 14vw;
  }
}
@media(max-width: 1024px){
  .footer_menu{
    z-index: 100;
    background: #fff;
    width: 30vw;
  }
}
@media(max-width: 768px){
  .footer_menu{
    width: 100vw;
  }
  .home_icon{
    display: block;
  }

}
/*===========================================*/

.lower_block{
  width: 100vw;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
}
.item_lower_block{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right:20px ;

  a{
    color: #1B1C21;
  }
}
.lower_block{
  overflow-y: scroll;
}

@media(max-width: 1024px){
    .item_lower_block{
        left: 10vw;
    }
}
.footer_menu_item{
  display: none;
  flex-direction: column;
  align-items: center;
  color: #1B1C21;
  justify-content: center;
}
.counter{
    left: 21px;
    top: -35px;
}
.catalog_menu{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.cart{
  height: 23px;
  display: block;
  p{
    display: none;
  }
}

.heart_icon{
  display: block;
  p{
    display: none;
  }
}

.catalog_menu.active{
  display: flex;
  background: #fff;
}
.counter{
  left: 35px;
  top: -55px;
}
.total{
  position: relative;
  left: 60px;
  top: -48px;
}
@media(max-width: 768px){
  .footer_menu_item{
    display: flex;
    p{
      display: block;
    }
  }
  .cart_icon{
    height: 23px;
  }
  .cart{
    p{
      display: flex;
    }
  }
  .counter{
    left: 21px;
    top: -35px;
  }
}

@media(max-width: 768px){
  .lower_block{
    display: none;

  }
  .lower_block.active{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    z-index: 30;
    overflow-x: hidden;
    width: 50vw;
    align-items: flex-start;
    position: absolute;
    top: 0;
    height: auto;
    min-height: 150%;
    justify-content: center;
  }
  .item_lower_block{
    margin-top: 30px;
    img{
      transform: rotate(-90deg);

    }
  }
  .closeBtn{
    content: '';
    position: absolute;
    top: -10px;
    width: 20px;
    height: 2px;
  }

  .closeBtn {
    z-index: 3;
    margin-right: auto;
    width: 40px;
    height: 40px;
    position: relative;

  }
  .closeBtn.active{
    transition:all .4s ;
    margin-right: 0;
    margin-left: auto;
    margin-top: 5px;
    z-index: 11;

  }
  .closeBtn::before,
  .closeBtn::after {
    content: '';
    display: block;
    transition: 0.2s;
  }

  .closeBtn::before {
    transform: translateY(-5px);
  }
  .closeBtn::after {
    transform: translateY(5px);
  }

  .closeBtn.active:before {
    transform: rotate(-45deg);
  }
  .closeBtn.active:after {
    transform: rotate(45deg);
  }
  .closeBtn::before,
  .closeBtn::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #1B1C21;
    z-index: 11;
  }
  .search_catalog{
    transition: all 0.6s;
    width: 70vw;
    min-width: 150px;
    height: 45px;
    border: 1px solid #D0D2D7;
    border-radius: 60px;
    padding: 0 0 0 30px;
    background: url('../../image/svgIcons/Search.svg') no-repeat center right 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .search_block{
    width: 100vw;
    height: auto;
    position: absolute;
    display: none;
  }
  .search_block.active{
    display: flex;
  }
}
