@font-face {
  font-family: TTNorms;
  src: url(fonts/TTNorms-Medium.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: TTNorms;
  src: url(fonts/TTNorms-Regular.ttf); /* Путь к файлу со шрифтом */
}
